@import url("https://cdn.jsdelivr.net/gh/unickcheng/logseq-developer-theme@release/custom.css");
@font-face {
  font-family: common-font;
  src: url("./font/LXGWWenKaiMonoLite-Regular.ttf") format("TrueType");
}
@font-face {
  font-family: code-font;
  src: local("DejaVuSansMono Nerd Font Mono"),
    url("./font/Fonts_DejaVu_Sans_Mono_Nerd_Font_Complete_Mono.ttf")
      format("TrueType");
}


